<div class="container-fluid" id="signin-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mx-auto" style="width: 20rem; margin-top: 2rem;">
                <div class="card-body">
                    <form role="form" (ngSubmit)="loginForm.valid && login()" [formGroup]="loginForm" novalidate>
                        <div class="form-group" [ngClass]="{ 'has-danger': username.invalid && (username.dirty || username.touched) }">
                            <label for="username">Username</label>
                            <input type="text" (focus)="fail = false" class="form-control" formControlName="username" require>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-danger': password.invalid && (password.dirty || password.touched) }">
                            <label for="password">Password</label>
                            <input type="password" (focus)="fail = false" class="form-control" formControlName="password" required>
                        </div>
                        <div style="margin: 1em 0 1em 0;">
                            <div class="alert alert-success text-center" *ngIf="success" role="alert">
                                <span translate>signin-success</span>
                            </div>
                            <div class="alert alert-danger text-center" *ngIf="fail" role="alert">
                                <div [ngSwitch]="failMsg">
                                    <span *ngSwitchCase="'auth-invalid-credential'" translate>auth-invalid-credential</span>
                                    <span *ngSwitchCase="'auth-profile-suspended'" translate>auth-profile-suspended</span>
                                    <span *ngSwitchCase="'auth-not-authorized'" translate>auth-not-authorized</span>
                                    <span *ngSwitchDefault translate>unknow-error</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="loading || !loginForm.valid" class="btn btn-primary btn-block">
                            <i class="fa fa-spinner fa-pulse" *ngIf="loading"></i>
                            <span style="margin-left:4px;" translate>signin</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
