@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import "../node_modules/ng2-slim-loading-bar/style.css";


.has-danger {
    color: #d9534f;
}
.has-danger > input {
    border-color: #d9534f;
}